$color-primary: #0B0D17;
$color-secondary: #D0D6F9;
$color-tertiary: #FFFFFF;

$color-hover: #979797;
$color-hover-button: rgba(255, 255, 255, 0.10);
$color-background-header: rgba(255, 255, 255, 0.04);
