body {
    padding-top: 4.0rem;
    display: grid;
    grid-template-columns: 2fr 16fr;
    grid-template-rows: 96px auto;
    grid-template-areas: "logo header"
    "logo main";
    .logo {
        grid-area: logo;
    }
    header {
        grid-area: header;
    }
    main {
        margin-top: 8vh; 
        grid-area: main;
    }
}
@media (max-width: $breakpoint-xl) {
    body {
        padding-top: 0;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: "logo header"
        "main main";
        .logo {
            grid-area: logo;
        }
        header {
            grid-area: header;
        }
        main {
            margin-top: 5vh; 
        }
    }
}
@media (max-width: $breakpoint-md) {
    body {
        main {
            margin-top: 0vh; 
        }
    }
}