.header {
    margin-top: 4.0rem;
    position: relative;
    border: 2px solid green;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 57%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(30px);
        background-color: rgba(255,255,255,0.08);
        top: 0;
        bottom: 0;
        right: 0;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        img {
            width: 48px;
            height: auto;
            display: block;
        }
    }
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: stretch; 
        height: 96px;
        overflow: hidden;
        position: relative;
        padding-right: 140px;
        transform: translateX(50px);
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 40%;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-color: $color-menu-line;
        }
    }
    &__menu {
        display: flex;
        justify-content: center;
        font-family: 'Barlow Condensed', sans-serif;
        color: $color-tertiary;
        font-size: $font-size-nav;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        position: relative;
        &__list {
            display: flex;
            align-items: stretch;
            list-style-type: none;
            gap: 48px;
            &__item {
                cursor: pointer;
                display: flex;  
                align-items: center;
                position: relative;
                transition: all 0.3s;
                &.active {
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $color-tertiary;
                    }
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 3px;
                    background-color: transparent;
                    transition: all 0.3s;
                }
                &:hover {
                    &::before {
                        background-color: $color-hover;
                    }
                }
                a {
                    display: block;
                    color: inherit;
                    text-decoration: none;
                    span {
                        margin-right: 10px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}