.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 96px;
    img {
        width: 48px;
        height: 48px;
        display: block;
    }
}
@media (max-width: $breakpoint-md) {
    .logo {
        img {
            width: 40px;
            height: 40px;
        }
    }
}
