.development {
  z-index: 1;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  font-weight: 400;
  a {
    color: #2997b3;
  }
}