#home-page {
    background-color: $color-primary;
    background-image: url("./../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#destination-page {
    background-color: $color-primary;
    background-image: url("./../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#crew-page {
    background-color: $color-primary;
    background-image: url("./../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}