.subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: var(--font-size-subheading-primary);
    font-weight: 400;
    color: $color-tertiary;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    margin: 10px 0 65px 0;
    text-align: center;
    span {
        color: $color-transparent-tertiary;
        font-weight: 800;
        margin-right: 28px;
    }
}
@media (max-width: $breakpoint-md) {
    .subtitle {
        margin: 10px 0 40px 0;
        text-align: center;
        span {
            margin-right: 15px;
        }
    }
}