* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Barlow', sans-serf;
    font-weight: 400;
    font-size: var(--font-size-body);
    color: $color-secondary;
    overflow-x: hidden;
}