#destination-page {
    .main-content {
        margin-bottom: 12vh;
        .planets {
            &__slideshow {
                &__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    max-width: 1113.59px;
                    position: relative;
                    &__img {
                        flex: 1 1;
                        display: flex;
                        justify-content: center;
                        padding-right: 60px;
                        img {
                            display: block;
                            width: 445px;
                            height: auto; 
                        }                       
                    }
                    &__text {
                        &__title {
                            font-family: 'Bellefair', serif;
                            font-size: $font-size-heading-secondary;
                            font-weight: 400;
                            color: $color-tertiary;
                            text-transform: uppercase;
                        }
                        &__paragraph {
                            margin: 18px 0 54px 0;
                            max-width: 444px;
                            line-height: 32px;
                        }
                        &__more {
                            display: flex;
                            text-transform: uppercase;
                            padding-top: 35px;
                            border-top: 1px solid $color-transparent-tertiary;
                            div {
                                flex: 1 1;
                                span {
                                    font-family: 'Barlow Condensed', sans-serif;
                                    font-size: $font-size-subheading-secondary;
                                    font-weight: 400;
                                    letter-spacing: 2.36px;
                                    color: $color-secondary;
                                    display: block;
                                    margin-bottom: 16px;
                                }
                                p {
                                    font-family: 'Bellefair', serif;
                                    font-size: $font-size-subheading-primary;
                                    color: $color-tertiary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .owl-loaded {
        max-width: 1113.59px;
    }
    .owl-dots {
        width: auto;
        right:154px;
        position: absolute;
        margin: 0 auto;
        top: -37px;
    }
    .owl-dots .owl-dot {
        margin: 0 15px;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
    }
    .owl-theme .owl-dots .owl-dot button {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: $font-size-nav;
        font-weight: 400;
        color: $color-secondary;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        letter-spacing: 2.7px;
        display: block;
        padding-bottom: 12px;
        border-bottom: 3px solid transparent;
        transition: all 0.225s;
        &:hover {
            border-bottom: 3px solid $color-hover;
        }
    }
    .owl-dots .owl-dot.active button {
        color: $color-tertiary;
        border-bottom: 3px solid $color-tertiary;
    }
}